@import "variables";

@mixin renderDividers($valueMap, $screen: "") {
    @each $class, $value in $valueMap {
        .spacer-#{$class}#{$screen} {
            height: $value;
            width: 100%;
        }
        .divider-#{$class}#{$screen} {
            height: 1px;
            border-bottom: 1px solid $dividerColor;
            margin-top: $value;
            margin-bottom: $value;
        }
        .divider-#{$class}#{$screen}--tabbed {
            @extend .divider-#{$class}#{$screen};
            margin-right: $value;
            margin-left: $value;
        }
    }
}