$mp-directions: ("top", "bottom", "left", "right");
$mp-sizes: ("xs", "sm", "md", "lg", "xl");
$mp-sizes-values: (2, 5, 10, 20, 30);

@each $size in $mp-sizes {
	$sizeIndex: index($mp-sizes, $size);
	$value: nth($mp-sizes-values, $sizeIndex);
	@each $direction in $mp-directions {
		$directionLetter: str-slice($direction, 0, 1);
		.m#{$directionLetter}-#{$size} {
			margin-#{$direction}: #{$value}px;
		}
		.p#{$directionLetter}-#{$size} {
			padding-#{$direction}: #{$value}px;
		}
	}
	.m-#{$size} {
		margin: #{$value}px;
	}
	.p-#{$size} {
		padding: #{$value}px;
	}
}