@import "variables";
@import "media";

$marginPaddingValueMap: ( 1: 2, 2: 5, 3: 10, 4: 20, 5: 30);

@mixin render($valueMap, $directions, $screen: "") {
	@each $valueIndex,
	$value in $valueMap {
		@each $direction in $directions {
			$directionLetter: str-slice($direction, 0, 1);
			.m#{$directionLetter}-#{$valueIndex}#{$screen} {
				margin-#{$direction}: #{$value}px;
			}
			.p#{$directionLetter}-#{$valueIndex}#{$screen} {
				padding-#{$direction}: #{$value}px;
			}
		}
		.m-#{$valueIndex}#{$screen} {
			margin: #{$value}px;
		}
		.p-#{$valueIndex}#{$screen} {
			padding: #{$value}px;
		}
	}
}

@include render($marginPaddingValueMap, $directions);
@each $screen in $screens {
	@include breakpoint(#{$screen}) {
		@include render($marginPaddingValueMap, $directions, "-#{$screen}");
	}
}