<html>

<head>
    <link rel="stylesheet" href="util.css">

    <style>
        div,
        span {
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <div id="app">

        <div class="block h1 mt-5 mb-5">Border radius</div>

        <div v-for="size in 4">
            <div :class="'p-3 text-center p-4 b-1 w50 brs-' + size">.brs-{{size}}</div>
            <div class="spacer-3"></div>
        </div>

        <div class="text-center p-4 b-1 brs-circle" style="width: 100px; height: 100px;">.brs-circle</div>


        <div class="block h1 mt-5 mb-5">Borders</div>


        <div v-for="direction in directionLetters">
            <div v-for="size in 3">
                <div :class="'text-center p-4 w50 b' + direction + '-' + size">.b{{direction}}-{{size}}</div>
                <div class="spacer-1"></div>
            </div>
            <div class="spacer-3"></div>
        </div>
        <div class="spacer-3"></div>
        <div v-for="size in 3">
            <div :class="'text-center p-4 w50 b-'+ size">.b-{{size}}</div>
            <div class="spacer-3"></div>
        </div>
        <div class="spacer-3"></div>
        <div v-for="size in 3">
            <div :class="'text-center p-4 w50 b-'+ size + '--light'">.b-{{size}}--light</div>
            <div class="spacer-3"></div>
        </div>


        <div class="block h1 mt-5 mb-5">Paddings</div>

        <div v-for="direction in directionLetters">
            <div class="spacer-5">
                <span v-for="size in 5" :class="'mr-3 text-center b-1 mb-2 p' + direction + '-' + size ">.p{{direction}}-{{size}}</span>
            </div>
            <div class="spacer-3"></div>
        </div>
        <div class="spacer-5">
            <span v-for="size in 5" :class="'di mr-3 text-center b-1 p-' + size ">.p-{{size}}</span>
        </div>
        <div class="spacer-3"></div>

        <infobox title="Responsive info:" text="Suffix with -xs, -sm, -md, -lg for responsive behavior"></infobox>

        <div class="block h1 mt-5 mb-5">Margins</div>

        <div>
            <div v-for="direction in ['b', 't']" class="mt-3 w25" style="height: 400px">
                <div v-for="size in 5" class="b-1 mt-5">
                    <div style="width: 100px" :class="'p-2 db text-center b-1 m' + direction + '-' + size">.m{{direction}}-{{size}}</div>
                </div>
            </div>
        </div>
        <div class="spacer-2"></div>
        <div>
            <div v-for="direction in ['r', 'l']" style="height: 100px">
                <span v-for="size in 5" style="width: 100px" :class="'p-2 text-center b-1 m' + direction + '-' + size">.m{{direction}}-{{size}}</span>
            </div>
        </div>
        <div class="spacer-5"></div>
        <div v-for="size in 5">
            <div style="width: 100px" :class="'p-3 text-center b-1 m-' + size ">.m-{{size}}</div>
        </div>

        <infobox title="Responsive info:" text="Suffix with -xs, -sm, -md, -lg for responsive behavior"></infobox>

        <div class="block h1 mt-5 mb-5">Typography</div>

        <div class="h1">.h1</div>
        <div class="h2">.h2</div>
        <div class="h3">.h3</div>
        <div class="h4">.h4</div>
        <div class="h5">.h5</div>
        <div class="h6">.h6</div>
        <div class="spacer-4"></div>


        <div class="bold">.bold</div>
        <div class="italic">.italic</div>
        <div class="caps">.caps</div>
        <div class="spacer-4"></div>

        <div class="text-regular h3">.text-regular</div>
        <div class="text-secondary h3">.text-secondary</div>
        <div class="text-placeholder h3">.text-placeholder</div>


        <div class="block h1 mt-5 mb-5">Colors</div>

        <div class="text-primary h3">.text-primary</div>
        <div class="text-info h3">.text-info</div>
        <div class="text-success h3">.text-success</div>
        <div class="text-warning h3">.text-warning</div>
        <div class="text-danger h3">.text-danger</div>
        <div class="text-dark h3">.text-dark</div>
        <div class="text-light h3 bg-dark">.text-light</div>
        <div class="text-light h3 bg-dark">.text-white</div>

        <div class="spacer-4"></div>

        <div class="text-center w100 p-5 mb-2 bg-primary">.bg-primary</div>
        <div class="text-center w100 p-5 mb-2 bg-info">.bg-info</div>
        <div class="text-center w100 p-5 mb-2 bg-success">.bg-success</div>
        <div class="text-center w100 p-5 mb-2 bg-warning">.bg-warning</div>
        <div class="text-center w100 p-5 mb-2 bg-danger">.bg-danger</div>
        <div class="text-center text-light w100 p-5 mb-2 bg-dark">.bg-dark</div>
        <div class="text-center w100 p-5 mb-2 bg-white">.bg-white</div>
        <div class="text-center w100 p-5 mb-2 bg-light">.bg-light</div>


        <div class="block h1 mt-5 mb-5">Opacity</div>
        <div class="text-center text-light o-1 w100 p-5 mb-2 bg-dark">.o-1</div>
        <div class="text-center text-light o-2 w100 p-5 mb-2 bg-dark">.o-2</div>
        <div class="text-center text-light o-3 w100 p-5 mb-2 bg-dark">.o-3</div>
        <div class="text-center text-light o-4 w100 p-5 mb-2 bg-dark">.o-4</div>
        <infobox title="Invisible:" text="o-5 sets opacity: 0 (invisible)"></infobox>

        <div class="block h1 mt-5 mb-5">Utils</div>

        <div class="text-left b-1 p-5 mb-2">.text-left</div>
        <div class="text-center b-1 p-5 mb-2">.text-center</div>
        <div class="text-right b-1 p-5 mb-2">.text-right</div>


        <span class="left p-2 b-1 mr-3">.left</span>
        <span class="left p-2 b-1 mr-3">.left</span>
        <span class="left p-2 b-1">.left</span>
        <span class="right p-2 b-1">.right</span>

        <div class="spacer-4"></div>

        <div class="block h1 mt-5 mb-5">Widths</div>

        <div class="text-center b-1 p-5 mb-2 w25">.w25</div>
        <div class="text-center b-1 p-5 mb-2 w50">.w50</div>
        <div class="text-center b-1 p-5 mb-2 w75">.w75</div>
        <div class="text-center b-1 p-5 mb-2 w100">.w100</div>


        <div class="block h1 mt-5 mb-5">Display</div>


        <div class="h5 w25 dib left">.dn (display: none)</div>
        <div class="h5 w25">.di (display: inline)</div>
        <div class="h5 w25">.dib (display: inline-block)</div>
        <div class="h5 w25">.db (display: block)</div>

        <infobox class="mt-3 mb-3" title="Responsive info:" text="Suffix with -xs, -sm, -md, -lg for responsive behavior"></infobox>

        <div class="block h1 mt-5 mb-5">Position</div>
        <div class="h5">.fixed</div>
        <div class="h5">.relative</div>
        <div class="h5">.absolute</div>
    </div>
</body>
<script src="https://unpkg.com/vue"></script>
<script src="app.js">
</script>

</html>