.brs-1 {
  border-radius: 0.125rem; }

.brs-2 {
  border-radius: 0.25rem; }

.brs-3 {
  border-radius: 0.5rem; }

.brs-4 {
  border-radius: 1rem; }

.brs-circle {
  border-radius: 100%; }

.bt-1 {
  border-top: 1px solid black; }

.bt-1--light {
  border-top: 1px solid grey; }

.bb-1 {
  border-bottom: 1px solid black; }

.bb-1--light {
  border-bottom: 1px solid grey; }

.bl-1 {
  border-left: 1px solid black; }

.bl-1--light {
  border-left: 1px solid grey; }

.br-1 {
  border-right: 1px solid black; }

.br-1--light {
  border-right: 1px solid grey; }

.b-1 {
  border: 1px solid black; }

.b-1--light {
  border: 1px solid grey; }

.bt-2 {
  border-top: 2px solid black; }

.bt-2--light {
  border-top: 2px solid grey; }

.bb-2 {
  border-bottom: 2px solid black; }

.bb-2--light {
  border-bottom: 2px solid grey; }

.bl-2 {
  border-left: 2px solid black; }

.bl-2--light {
  border-left: 2px solid grey; }

.br-2 {
  border-right: 2px solid black; }

.br-2--light {
  border-right: 2px solid grey; }

.b-2 {
  border: 2px solid black; }

.b-2--light {
  border: 2px solid grey; }

.bt-3 {
  border-top: 3px solid black; }

.bt-3--light {
  border-top: 3px solid grey; }

.bb-3 {
  border-bottom: 3px solid black; }

.bb-3--light {
  border-bottom: 3px solid grey; }

.bl-3 {
  border-left: 3px solid black; }

.bl-3--light {
  border-left: 3px solid grey; }

.br-3 {
  border-right: 3px solid black; }

.br-3--light {
  border-right: 3px solid grey; }

.b-3 {
  border: 3px solid black; }

.b-3--light {
  border: 3px solid grey; }

.bg-primary {
  background: #409EFF; }

.text-primary {
  color: #409EFF; }

.bg-success {
  background: #67C23A; }

.text-success {
  color: #67C23A; }

.bg-warning {
  background: #EB9E05; }

.text-warning {
  color: #EB9E05; }

.bg-danger {
  background: #FA5555; }

.text-danger {
  color: #FA5555; }

.bg-info {
  background: #878D99; }

.text-info {
  color: #878D99; }

.bg-dark {
  background: #000; }

.text-dark {
  color: #000; }

.bg-white {
  background: #FFFF; }

.text-white {
  color: #FFFF; }

.bg-light {
  background: #ebedf1; }

.text-light {
  color: #ebedf1; }

/*
  @import "variables";
  
  @mixin breakpoint($class) {
      @if $class == xs {
          @media only screen and (max-width : 479px) {
              @content;
          }
      }
     
      @else if $class == sm {
          @media only screen and (min-width : 488px) and (max-width : 767px) {
              @content;
          }
      }
     
      @else if $class == md {
          @media only screen and (min-width : 768px) and (max-width : 1199px) {
              @content;
          }
      }
     
      @else if $class == lg {
          @media only screen and (min-width : 1200px) {
              @content;
          }
      }
      @else {
        @warn "Breakpoint mixin supports: xs, sm, md, lg";
      }
    }*/
.dn {
  display: none; }

.di {
  display: inline; }

.db {
  display: block; }

.dib {
  display: inline-block; }

@media only screen and (max-width: 480px) {
  .dn-xs {
    display: none; }
  .di-xs {
    display: inline; }
  .db-xs {
    display: block; }
  .dib-xs {
    display: inline-block; } }

@media only screen and (max-width: 768px) {
  .dn-sm {
    display: none; }
  .di-sm {
    display: inline; }
  .db-sm {
    display: block; }
  .dib-sm {
    display: inline-block; } }

@media only screen and (max-width: 1200px) {
  .dn-md {
    display: none; }
  .di-md {
    display: inline; }
  .db-md {
    display: block; }
  .dib-md {
    display: inline-block; } }

@media only screen and (min-width: 1201px) {
  .dn-lg {
    display: none; }
  .di-lg {
    display: inline; }
  .db-lg {
    display: block; }
  .dib-lg {
    display: inline-block; } }

/*
  @import "variables";
  
  @mixin breakpoint($class) {
      @if $class == xs {
          @media only screen and (max-width : 479px) {
              @content;
          }
      }
     
      @else if $class == sm {
          @media only screen and (min-width : 488px) and (max-width : 767px) {
              @content;
          }
      }
     
      @else if $class == md {
          @media only screen and (min-width : 768px) and (max-width : 1199px) {
              @content;
          }
      }
     
      @else if $class == lg {
          @media only screen and (min-width : 1200px) {
              @content;
          }
      }
      @else {
        @warn "Breakpoint mixin supports: xs, sm, md, lg";
      }
    }*/
.spacer-1 {
  height: 10px;
  width: 100%; }

.divider-1, .divider-1--tabbed {
  height: 1px;
  border-bottom: 1px solid #5A5E66;
  margin-top: 10px;
  margin-bottom: 10px; }

.divider-1--tabbed {
  margin-right: 10px;
  margin-left: 10px; }

.spacer-2 {
  height: 20px;
  width: 100%; }

.divider-2, .divider-2--tabbed {
  height: 1px;
  border-bottom: 1px solid #5A5E66;
  margin-top: 20px;
  margin-bottom: 20px; }

.divider-2--tabbed {
  margin-right: 20px;
  margin-left: 20px; }

.spacer-3 {
  height: 30px;
  width: 100%; }

.divider-3, .divider-3--tabbed {
  height: 1px;
  border-bottom: 1px solid #5A5E66;
  margin-top: 30px;
  margin-bottom: 30px; }

.divider-3--tabbed {
  margin-right: 30px;
  margin-left: 30px; }

.spacer-4 {
  height: 40px;
  width: 100%; }

.divider-4, .divider-4--tabbed {
  height: 1px;
  border-bottom: 1px solid #5A5E66;
  margin-top: 40px;
  margin-bottom: 40px; }

.divider-4--tabbed {
  margin-right: 40px;
  margin-left: 40px; }

.spacer-5 {
  height: 50px;
  width: 100%; }

.divider-5, .divider-5--tabbed {
  height: 1px;
  border-bottom: 1px solid #5A5E66;
  margin-top: 50px;
  margin-bottom: 50px; }

.divider-5--tabbed {
  margin-right: 50px;
  margin-left: 50px; }

@media only screen and (max-width: 480px) {
  .spacer-1-xs {
    height: 10px;
    width: 100%; }
  .divider-1-xs, .divider-1-xs--tabbed {
    height: 1px;
    border-bottom: 1px solid #5A5E66;
    margin-top: 10px;
    margin-bottom: 10px; }
  .divider-1-xs--tabbed {
    margin-right: 10px;
    margin-left: 10px; }
  .spacer-2-xs {
    height: 20px;
    width: 100%; }
  .divider-2-xs, .divider-2-xs--tabbed {
    height: 1px;
    border-bottom: 1px solid #5A5E66;
    margin-top: 20px;
    margin-bottom: 20px; }
  .divider-2-xs--tabbed {
    margin-right: 20px;
    margin-left: 20px; }
  .spacer-3-xs {
    height: 30px;
    width: 100%; }
  .divider-3-xs, .divider-3-xs--tabbed {
    height: 1px;
    border-bottom: 1px solid #5A5E66;
    margin-top: 30px;
    margin-bottom: 30px; }
  .divider-3-xs--tabbed {
    margin-right: 30px;
    margin-left: 30px; }
  .spacer-4-xs {
    height: 40px;
    width: 100%; }
  .divider-4-xs, .divider-4-xs--tabbed {
    height: 1px;
    border-bottom: 1px solid #5A5E66;
    margin-top: 40px;
    margin-bottom: 40px; }
  .divider-4-xs--tabbed {
    margin-right: 40px;
    margin-left: 40px; }
  .spacer-5-xs {
    height: 50px;
    width: 100%; }
  .divider-5-xs, .divider-5-xs--tabbed {
    height: 1px;
    border-bottom: 1px solid #5A5E66;
    margin-top: 50px;
    margin-bottom: 50px; }
  .divider-5-xs--tabbed {
    margin-right: 50px;
    margin-left: 50px; } }

@media only screen and (max-width: 768px) {
  .spacer-1-sm {
    height: 10px;
    width: 100%; }
  .divider-1-sm, .divider-1-sm--tabbed {
    height: 1px;
    border-bottom: 1px solid #5A5E66;
    margin-top: 10px;
    margin-bottom: 10px; }
  .divider-1-sm--tabbed {
    margin-right: 10px;
    margin-left: 10px; }
  .spacer-2-sm {
    height: 20px;
    width: 100%; }
  .divider-2-sm, .divider-2-sm--tabbed {
    height: 1px;
    border-bottom: 1px solid #5A5E66;
    margin-top: 20px;
    margin-bottom: 20px; }
  .divider-2-sm--tabbed {
    margin-right: 20px;
    margin-left: 20px; }
  .spacer-3-sm {
    height: 30px;
    width: 100%; }
  .divider-3-sm, .divider-3-sm--tabbed {
    height: 1px;
    border-bottom: 1px solid #5A5E66;
    margin-top: 30px;
    margin-bottom: 30px; }
  .divider-3-sm--tabbed {
    margin-right: 30px;
    margin-left: 30px; }
  .spacer-4-sm {
    height: 40px;
    width: 100%; }
  .divider-4-sm, .divider-4-sm--tabbed {
    height: 1px;
    border-bottom: 1px solid #5A5E66;
    margin-top: 40px;
    margin-bottom: 40px; }
  .divider-4-sm--tabbed {
    margin-right: 40px;
    margin-left: 40px; }
  .spacer-5-sm {
    height: 50px;
    width: 100%; }
  .divider-5-sm, .divider-5-sm--tabbed {
    height: 1px;
    border-bottom: 1px solid #5A5E66;
    margin-top: 50px;
    margin-bottom: 50px; }
  .divider-5-sm--tabbed {
    margin-right: 50px;
    margin-left: 50px; } }

@media only screen and (max-width: 1200px) {
  .spacer-1-md {
    height: 10px;
    width: 100%; }
  .divider-1-md, .divider-1-md--tabbed {
    height: 1px;
    border-bottom: 1px solid #5A5E66;
    margin-top: 10px;
    margin-bottom: 10px; }
  .divider-1-md--tabbed {
    margin-right: 10px;
    margin-left: 10px; }
  .spacer-2-md {
    height: 20px;
    width: 100%; }
  .divider-2-md, .divider-2-md--tabbed {
    height: 1px;
    border-bottom: 1px solid #5A5E66;
    margin-top: 20px;
    margin-bottom: 20px; }
  .divider-2-md--tabbed {
    margin-right: 20px;
    margin-left: 20px; }
  .spacer-3-md {
    height: 30px;
    width: 100%; }
  .divider-3-md, .divider-3-md--tabbed {
    height: 1px;
    border-bottom: 1px solid #5A5E66;
    margin-top: 30px;
    margin-bottom: 30px; }
  .divider-3-md--tabbed {
    margin-right: 30px;
    margin-left: 30px; }
  .spacer-4-md {
    height: 40px;
    width: 100%; }
  .divider-4-md, .divider-4-md--tabbed {
    height: 1px;
    border-bottom: 1px solid #5A5E66;
    margin-top: 40px;
    margin-bottom: 40px; }
  .divider-4-md--tabbed {
    margin-right: 40px;
    margin-left: 40px; }
  .spacer-5-md {
    height: 50px;
    width: 100%; }
  .divider-5-md, .divider-5-md--tabbed {
    height: 1px;
    border-bottom: 1px solid #5A5E66;
    margin-top: 50px;
    margin-bottom: 50px; }
  .divider-5-md--tabbed {
    margin-right: 50px;
    margin-left: 50px; } }

@media only screen and (min-width: 1201px) {
  .spacer-1-lg {
    height: 10px;
    width: 100%; }
  .divider-1-lg, .divider-1-lg--tabbed {
    height: 1px;
    border-bottom: 1px solid #5A5E66;
    margin-top: 10px;
    margin-bottom: 10px; }
  .divider-1-lg--tabbed {
    margin-right: 10px;
    margin-left: 10px; }
  .spacer-2-lg {
    height: 20px;
    width: 100%; }
  .divider-2-lg, .divider-2-lg--tabbed {
    height: 1px;
    border-bottom: 1px solid #5A5E66;
    margin-top: 20px;
    margin-bottom: 20px; }
  .divider-2-lg--tabbed {
    margin-right: 20px;
    margin-left: 20px; }
  .spacer-3-lg {
    height: 30px;
    width: 100%; }
  .divider-3-lg, .divider-3-lg--tabbed {
    height: 1px;
    border-bottom: 1px solid #5A5E66;
    margin-top: 30px;
    margin-bottom: 30px; }
  .divider-3-lg--tabbed {
    margin-right: 30px;
    margin-left: 30px; }
  .spacer-4-lg {
    height: 40px;
    width: 100%; }
  .divider-4-lg, .divider-4-lg--tabbed {
    height: 1px;
    border-bottom: 1px solid #5A5E66;
    margin-top: 40px;
    margin-bottom: 40px; }
  .divider-4-lg--tabbed {
    margin-right: 40px;
    margin-left: 40px; }
  .spacer-5-lg {
    height: 50px;
    width: 100%; }
  .divider-5-lg, .divider-5-lg--tabbed {
    height: 1px;
    border-bottom: 1px solid #5A5E66;
    margin-top: 50px;
    margin-bottom: 50px; }
  .divider-5-lg--tabbed {
    margin-right: 50px;
    margin-left: 50px; } }

/*
  @import "variables";
  
  @mixin breakpoint($class) {
      @if $class == xs {
          @media only screen and (max-width : 479px) {
              @content;
          }
      }
     
      @else if $class == sm {
          @media only screen and (min-width : 488px) and (max-width : 767px) {
              @content;
          }
      }
     
      @else if $class == md {
          @media only screen and (min-width : 768px) and (max-width : 1199px) {
              @content;
          }
      }
     
      @else if $class == lg {
          @media only screen and (min-width : 1200px) {
              @content;
          }
      }
      @else {
        @warn "Breakpoint mixin supports: xs, sm, md, lg";
      }
    }*/
.mt-1 {
  margin-top: 2px; }

.pt-1 {
  padding-top: 2px; }

.mb-1 {
  margin-bottom: 2px; }

.pb-1 {
  padding-bottom: 2px; }

.ml-1 {
  margin-left: 2px; }

.pl-1 {
  padding-left: 2px; }

.mr-1 {
  margin-right: 2px; }

.pr-1 {
  padding-right: 2px; }

.m-1 {
  margin: 2px; }

.p-1 {
  padding: 2px; }

.mt-2 {
  margin-top: 5px; }

.pt-2 {
  padding-top: 5px; }

.mb-2 {
  margin-bottom: 5px; }

.pb-2 {
  padding-bottom: 5px; }

.ml-2 {
  margin-left: 5px; }

.pl-2 {
  padding-left: 5px; }

.mr-2 {
  margin-right: 5px; }

.pr-2 {
  padding-right: 5px; }

.m-2 {
  margin: 5px; }

.p-2 {
  padding: 5px; }

.mt-3 {
  margin-top: 10px; }

.pt-3 {
  padding-top: 10px; }

.mb-3 {
  margin-bottom: 10px; }

.pb-3 {
  padding-bottom: 10px; }

.ml-3 {
  margin-left: 10px; }

.pl-3 {
  padding-left: 10px; }

.mr-3 {
  margin-right: 10px; }

.pr-3 {
  padding-right: 10px; }

.m-3 {
  margin: 10px; }

.p-3 {
  padding: 10px; }

.mt-4 {
  margin-top: 20px; }

.pt-4 {
  padding-top: 20px; }

.mb-4 {
  margin-bottom: 20px; }

.pb-4 {
  padding-bottom: 20px; }

.ml-4 {
  margin-left: 20px; }

.pl-4 {
  padding-left: 20px; }

.mr-4 {
  margin-right: 20px; }

.pr-4 {
  padding-right: 20px; }

.m-4 {
  margin: 20px; }

.p-4 {
  padding: 20px; }

.mt-5 {
  margin-top: 30px; }

.pt-5 {
  padding-top: 30px; }

.mb-5 {
  margin-bottom: 30px; }

.pb-5 {
  padding-bottom: 30px; }

.ml-5 {
  margin-left: 30px; }

.pl-5 {
  padding-left: 30px; }

.mr-5 {
  margin-right: 30px; }

.pr-5 {
  padding-right: 30px; }

.m-5 {
  margin: 30px; }

.p-5 {
  padding: 30px; }

@media only screen and (max-width: 480px) {
  .mt-1-xs {
    margin-top: 2px; }
  .pt-1-xs {
    padding-top: 2px; }
  .mb-1-xs {
    margin-bottom: 2px; }
  .pb-1-xs {
    padding-bottom: 2px; }
  .ml-1-xs {
    margin-left: 2px; }
  .pl-1-xs {
    padding-left: 2px; }
  .mr-1-xs {
    margin-right: 2px; }
  .pr-1-xs {
    padding-right: 2px; }
  .m-1-xs {
    margin: 2px; }
  .p-1-xs {
    padding: 2px; }
  .mt-2-xs {
    margin-top: 5px; }
  .pt-2-xs {
    padding-top: 5px; }
  .mb-2-xs {
    margin-bottom: 5px; }
  .pb-2-xs {
    padding-bottom: 5px; }
  .ml-2-xs {
    margin-left: 5px; }
  .pl-2-xs {
    padding-left: 5px; }
  .mr-2-xs {
    margin-right: 5px; }
  .pr-2-xs {
    padding-right: 5px; }
  .m-2-xs {
    margin: 5px; }
  .p-2-xs {
    padding: 5px; }
  .mt-3-xs {
    margin-top: 10px; }
  .pt-3-xs {
    padding-top: 10px; }
  .mb-3-xs {
    margin-bottom: 10px; }
  .pb-3-xs {
    padding-bottom: 10px; }
  .ml-3-xs {
    margin-left: 10px; }
  .pl-3-xs {
    padding-left: 10px; }
  .mr-3-xs {
    margin-right: 10px; }
  .pr-3-xs {
    padding-right: 10px; }
  .m-3-xs {
    margin: 10px; }
  .p-3-xs {
    padding: 10px; }
  .mt-4-xs {
    margin-top: 20px; }
  .pt-4-xs {
    padding-top: 20px; }
  .mb-4-xs {
    margin-bottom: 20px; }
  .pb-4-xs {
    padding-bottom: 20px; }
  .ml-4-xs {
    margin-left: 20px; }
  .pl-4-xs {
    padding-left: 20px; }
  .mr-4-xs {
    margin-right: 20px; }
  .pr-4-xs {
    padding-right: 20px; }
  .m-4-xs {
    margin: 20px; }
  .p-4-xs {
    padding: 20px; }
  .mt-5-xs {
    margin-top: 30px; }
  .pt-5-xs {
    padding-top: 30px; }
  .mb-5-xs {
    margin-bottom: 30px; }
  .pb-5-xs {
    padding-bottom: 30px; }
  .ml-5-xs {
    margin-left: 30px; }
  .pl-5-xs {
    padding-left: 30px; }
  .mr-5-xs {
    margin-right: 30px; }
  .pr-5-xs {
    padding-right: 30px; }
  .m-5-xs {
    margin: 30px; }
  .p-5-xs {
    padding: 30px; } }

@media only screen and (max-width: 768px) {
  .mt-1-sm {
    margin-top: 2px; }
  .pt-1-sm {
    padding-top: 2px; }
  .mb-1-sm {
    margin-bottom: 2px; }
  .pb-1-sm {
    padding-bottom: 2px; }
  .ml-1-sm {
    margin-left: 2px; }
  .pl-1-sm {
    padding-left: 2px; }
  .mr-1-sm {
    margin-right: 2px; }
  .pr-1-sm {
    padding-right: 2px; }
  .m-1-sm {
    margin: 2px; }
  .p-1-sm {
    padding: 2px; }
  .mt-2-sm {
    margin-top: 5px; }
  .pt-2-sm {
    padding-top: 5px; }
  .mb-2-sm {
    margin-bottom: 5px; }
  .pb-2-sm {
    padding-bottom: 5px; }
  .ml-2-sm {
    margin-left: 5px; }
  .pl-2-sm {
    padding-left: 5px; }
  .mr-2-sm {
    margin-right: 5px; }
  .pr-2-sm {
    padding-right: 5px; }
  .m-2-sm {
    margin: 5px; }
  .p-2-sm {
    padding: 5px; }
  .mt-3-sm {
    margin-top: 10px; }
  .pt-3-sm {
    padding-top: 10px; }
  .mb-3-sm {
    margin-bottom: 10px; }
  .pb-3-sm {
    padding-bottom: 10px; }
  .ml-3-sm {
    margin-left: 10px; }
  .pl-3-sm {
    padding-left: 10px; }
  .mr-3-sm {
    margin-right: 10px; }
  .pr-3-sm {
    padding-right: 10px; }
  .m-3-sm {
    margin: 10px; }
  .p-3-sm {
    padding: 10px; }
  .mt-4-sm {
    margin-top: 20px; }
  .pt-4-sm {
    padding-top: 20px; }
  .mb-4-sm {
    margin-bottom: 20px; }
  .pb-4-sm {
    padding-bottom: 20px; }
  .ml-4-sm {
    margin-left: 20px; }
  .pl-4-sm {
    padding-left: 20px; }
  .mr-4-sm {
    margin-right: 20px; }
  .pr-4-sm {
    padding-right: 20px; }
  .m-4-sm {
    margin: 20px; }
  .p-4-sm {
    padding: 20px; }
  .mt-5-sm {
    margin-top: 30px; }
  .pt-5-sm {
    padding-top: 30px; }
  .mb-5-sm {
    margin-bottom: 30px; }
  .pb-5-sm {
    padding-bottom: 30px; }
  .ml-5-sm {
    margin-left: 30px; }
  .pl-5-sm {
    padding-left: 30px; }
  .mr-5-sm {
    margin-right: 30px; }
  .pr-5-sm {
    padding-right: 30px; }
  .m-5-sm {
    margin: 30px; }
  .p-5-sm {
    padding: 30px; } }

@media only screen and (max-width: 1200px) {
  .mt-1-md {
    margin-top: 2px; }
  .pt-1-md {
    padding-top: 2px; }
  .mb-1-md {
    margin-bottom: 2px; }
  .pb-1-md {
    padding-bottom: 2px; }
  .ml-1-md {
    margin-left: 2px; }
  .pl-1-md {
    padding-left: 2px; }
  .mr-1-md {
    margin-right: 2px; }
  .pr-1-md {
    padding-right: 2px; }
  .m-1-md {
    margin: 2px; }
  .p-1-md {
    padding: 2px; }
  .mt-2-md {
    margin-top: 5px; }
  .pt-2-md {
    padding-top: 5px; }
  .mb-2-md {
    margin-bottom: 5px; }
  .pb-2-md {
    padding-bottom: 5px; }
  .ml-2-md {
    margin-left: 5px; }
  .pl-2-md {
    padding-left: 5px; }
  .mr-2-md {
    margin-right: 5px; }
  .pr-2-md {
    padding-right: 5px; }
  .m-2-md {
    margin: 5px; }
  .p-2-md {
    padding: 5px; }
  .mt-3-md {
    margin-top: 10px; }
  .pt-3-md {
    padding-top: 10px; }
  .mb-3-md {
    margin-bottom: 10px; }
  .pb-3-md {
    padding-bottom: 10px; }
  .ml-3-md {
    margin-left: 10px; }
  .pl-3-md {
    padding-left: 10px; }
  .mr-3-md {
    margin-right: 10px; }
  .pr-3-md {
    padding-right: 10px; }
  .m-3-md {
    margin: 10px; }
  .p-3-md {
    padding: 10px; }
  .mt-4-md {
    margin-top: 20px; }
  .pt-4-md {
    padding-top: 20px; }
  .mb-4-md {
    margin-bottom: 20px; }
  .pb-4-md {
    padding-bottom: 20px; }
  .ml-4-md {
    margin-left: 20px; }
  .pl-4-md {
    padding-left: 20px; }
  .mr-4-md {
    margin-right: 20px; }
  .pr-4-md {
    padding-right: 20px; }
  .m-4-md {
    margin: 20px; }
  .p-4-md {
    padding: 20px; }
  .mt-5-md {
    margin-top: 30px; }
  .pt-5-md {
    padding-top: 30px; }
  .mb-5-md {
    margin-bottom: 30px; }
  .pb-5-md {
    padding-bottom: 30px; }
  .ml-5-md {
    margin-left: 30px; }
  .pl-5-md {
    padding-left: 30px; }
  .mr-5-md {
    margin-right: 30px; }
  .pr-5-md {
    padding-right: 30px; }
  .m-5-md {
    margin: 30px; }
  .p-5-md {
    padding: 30px; } }

@media only screen and (min-width: 1201px) {
  .mt-1-lg {
    margin-top: 2px; }
  .pt-1-lg {
    padding-top: 2px; }
  .mb-1-lg {
    margin-bottom: 2px; }
  .pb-1-lg {
    padding-bottom: 2px; }
  .ml-1-lg {
    margin-left: 2px; }
  .pl-1-lg {
    padding-left: 2px; }
  .mr-1-lg {
    margin-right: 2px; }
  .pr-1-lg {
    padding-right: 2px; }
  .m-1-lg {
    margin: 2px; }
  .p-1-lg {
    padding: 2px; }
  .mt-2-lg {
    margin-top: 5px; }
  .pt-2-lg {
    padding-top: 5px; }
  .mb-2-lg {
    margin-bottom: 5px; }
  .pb-2-lg {
    padding-bottom: 5px; }
  .ml-2-lg {
    margin-left: 5px; }
  .pl-2-lg {
    padding-left: 5px; }
  .mr-2-lg {
    margin-right: 5px; }
  .pr-2-lg {
    padding-right: 5px; }
  .m-2-lg {
    margin: 5px; }
  .p-2-lg {
    padding: 5px; }
  .mt-3-lg {
    margin-top: 10px; }
  .pt-3-lg {
    padding-top: 10px; }
  .mb-3-lg {
    margin-bottom: 10px; }
  .pb-3-lg {
    padding-bottom: 10px; }
  .ml-3-lg {
    margin-left: 10px; }
  .pl-3-lg {
    padding-left: 10px; }
  .mr-3-lg {
    margin-right: 10px; }
  .pr-3-lg {
    padding-right: 10px; }
  .m-3-lg {
    margin: 10px; }
  .p-3-lg {
    padding: 10px; }
  .mt-4-lg {
    margin-top: 20px; }
  .pt-4-lg {
    padding-top: 20px; }
  .mb-4-lg {
    margin-bottom: 20px; }
  .pb-4-lg {
    padding-bottom: 20px; }
  .ml-4-lg {
    margin-left: 20px; }
  .pl-4-lg {
    padding-left: 20px; }
  .mr-4-lg {
    margin-right: 20px; }
  .pr-4-lg {
    padding-right: 20px; }
  .m-4-lg {
    margin: 20px; }
  .p-4-lg {
    padding: 20px; }
  .mt-5-lg {
    margin-top: 30px; }
  .pt-5-lg {
    padding-top: 30px; }
  .mb-5-lg {
    margin-bottom: 30px; }
  .pb-5-lg {
    padding-bottom: 30px; }
  .ml-5-lg {
    margin-left: 30px; }
  .pl-5-lg {
    padding-left: 30px; }
  .mr-5-lg {
    margin-right: 30px; }
  .pr-5-lg {
    padding-right: 30px; }
  .m-5-lg {
    margin: 30px; }
  .p-5-lg {
    padding: 30px; } }

.o-1 {
  opacity: 0.8; }

.o-2 {
  opacity: 0.6; }

.o-3 {
  opacity: 0.4; }

.o-4 {
  opacity: 0.2; }

.o-5 {
  opacity: 0; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.relative {
  position: relative; }

.h1 {
  font-size: 3rem; }

.h2 {
  font-size: 2.5rem; }

.h3 {
  font-size: 2rem; }

.h4 {
  font-size: 1.5rem; }

.h5 {
  font-size: 1.25rem; }

.h6 {
  font-size: 0.875rem; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.caps {
  text-transform: uppercase; }

.text-regular {
  color: #2D2F33; }

.text-secondary {
  color: #5A5E66; }

.text-placeholder {
  color: #B4BCCC; }

.w100 {
  width: 100%; }

.w75 {
  width: 75%; }

.w50 {
  width: 50%; }

.w25 {
  width: 25%; }

.left {
  float: left; }

.right {
  float: right; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }
